
<div class="tarefas-container">
<h2>Tarefa</h2>

<h3>{{tarefa.title}}</h3>
<p>{{tarefa.description}}</p>

<div class="actions">
    <a href="/tarefas/edit/{{tarefa.id}}">Editar</a>
</div>

<div class="actions">
    <form action="/tarefas/remove/{{tarefa.id}}" method = "POST">
        <input type="submit" value="Remover" class="botoes">
    </form>
</div>

</div>
